Bitwarden
Cadence
Code - OSS
GitExtensions
Jitsi Meet
QtProject.conf
REAPER
Unknown Organization
appimagelauncher.cfg
akregatorrc
arkrc
Trolltech.conf
baloofileinformationrc
baloofilerc
bluedevilglobalrc
chromium
configstore
discord
falkTX
falkon
emaildefaults
gh
gtkrc
gtkrc-2.0
gwenviewrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
katerc
kateschemarc
katesyntaxhighlightingrc
kcmfonts
kcminputrc
kcmshell5rc
kconf_updaterc
kde.org
kdeconnect
kded5rc
kdeglobals
kgammarc
kglobalshortcutsrc
khotkeysrc
kmixrc
knfsshare
konsolerc
krunnerrc
kscreenlockerrc
ksmserverrc
ksplashrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib
pamac
pcloud
picom
pipewire-media-session
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmarc
plasmashellrc
pulse
session
rncbc.org
spotify
syncthing
systemsettingsrc
systemd
touchpadxlibinputrc
trashrc
user-dirs.dirs
user-dirs.locale
vlc
xsettingsd
yakuakerc
zoomus.conf
spectaclerc
powermanagementprofilesrc
pavucontrol.ini
okularpartrc
mimeapps.list
manjaro-hello.json
kitty/kitty-themes/
dconf/user
